// scss 
@import "./scss/common/reset.scss";
@import "./scss/icon/iconfont-components.wxss";

page {
    padding-bottom: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0 15rpx;
    box-sizing: border-box;
}